extends ../layout

block content
  main.articles-category
    h1= displayedTitle
    if hasContent
      section.articles-category__theme-list
        h2.visually-hidden Список тем
        include ../../common/themes
      include ../../common/section-flex/section-flex
      include ../../common/article-preview-list/article-preview-list
    else
      include ../../common/empty/empty-section
