extends ../layout

block content
  - const hasArticles = Boolean(articles.lenght);
  main.articles-category
    h1 #{title}
    +categoriesList(categories)
    if hasArticles
      +articlesList(articles)
    else
      div.main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!
