extends ../layout

block content
  main.articles-category
    h1 #{title}
    if hasContent
      section.articles-category__theme-list
        h2.visually-hidden Список тем
        +categoriesList(categories)
    else
      div.main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!
