extends ../layout

block content
  main
    h1.visually-hidden Ошибка 500
    section.error.error--500
      h2.error__title.title.title--big Что-то пошло не так
      p.error__text.text.text--big Причин может быть много: сервер не выдержал нагрузку или в коде ошибка. Попробуйте повторить попытку позже.
      a.error__link.text.text--big(href='/') Вернуться на главную
