footer.footer
  a.footer__copyright(href='#' aria-label='HTMLAcademy')
    img(src='img/icons/HTMLAcademyLogo.svg' width='112' height='50' alt='HTMLAcademy')
  span.footer__dot
  p.footer__text Типотека, 2019
