.preview__toggle-wrapper
  ul.preview__pagination.pagination
    li
      a.pagination__button.button.button--backwards.button--disabled(href='#' aria-label='Страница назад') Назад
    li.pagination__item.pagination__item--active
      a(href='#') 1
    li.pagination__item
      a(href='#') 2
    li.pagination__item
      a(href='#') 3
    li.pagination__item
      a(href='#') 4
    li.pagination__item
      a(href='#') 5
    li
      a.pagination__button.button.button--forward(href='#' aria-label='Страница вперед') Вперед
