ul.themes(class= isPost ? ` post__themes` : ``)
  li.themes__item
    a.themes__item-link(href='#')
      | Автомобили
      sup 88
      button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | Удаленная работа
      sup 13
      button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | Бизнес
      sup 13
      button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | Путешествия
      sup 13
      button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link.themes__item-link--padding(href='#')
      | Дизайн и обустройство
      sup 13
      button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | Производство игрушек
      sup 22
      button.themes__remove-btn(type='button') Удалить категорию
  li.themes__item
    a.themes__item-link(href='#')
      | UX & UI
      sup 22
      button.themes__remove-btn(type='button') Удалить категорию
