ul.themes(class=`${Boolean(article) ? `post__themes` : ``}`)
  each theme in themes
    li.themes__item
      a.themes__item-link(href='#')
        | #{theme}
        sup  88
        button.themes__remove-btn(type='button') Удалить категорию
