extends layout

block content
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      .category__add-form
        form(action='#' method='POST')
          input#add-form-add-category(type='text' name='category' placeholder='Новая категория')
          label(for='add-form-add-category')
            span.visually-hidden Добавить категорию
          button.category__button.button.button--category(type='submit') Добавить
      ul.category__list
        each category in categoryList
          li.category__list-item
            form(action='#' method='POST')
              input(id=category.id type='text' name='category' value=category.name)
              label(for=category.id)
                span.visually-hidden Редактировать категорию
              button.category__button.button.button--category(type='submit') Сохранить
              button.category__button.button.button--category(type='button') Удалить
