doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='Description' content='Личный блог Типотека')
    title= title
    base(href='/')
    link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.min.css')
    style.
      .pagination__item--active {
        pointer-events: none;
      }

      .error-list {
        padding: 0;
        list-style: none;
      }

      .error-list__item {
        color: red;
      }
  body
    include ../mixins/mixins.pug

    .wrapper
      include ../common/header
      block content
      include ../common/footer

    script(src='/js/vendor.js')
    script(src='/js/main.js')

