doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='Description' content='Личный блог Типотека')
    title= title
    base(href='/')
    link(rel='preload' href='./fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='./fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.min.css')
  body
    .wrapper
      include ../common/header
      block content
      include ../common/footer

    if scriptList && scriptList.length !== 0
      each script in scriptList
        script(src=script)
