extends layout
block content
  main
    h1.visually-hidden Регистрация пользователя
    section.modal
      .popup.popup--registration
        a.popup__button.button.button--popup-close(href='/' aria-label='Закрыть окно') Закрыть окно
        h2.visually-hidden Форма регистрации
        ul.popup__tabs
          li.popup__tab.popup__tab--register
            a.popup__tab-switcher.button(href="/register") Регистрация
          li.popup__tab.popup__tab--active.popup__tab--log-in
            a.popup__tab-switcher.button Войти
        .popup__form.popup__form--active.form.form--log-in
          form(action='#' method='get')
            .form__field
              label
                input(type='email' placeholder='Электронная почта' required)
            if error && error.email
              p.form__error-message Некоторая ошибка произошла, беда!
            .form__field
              label
                input(type='password' placeholder='Пароль' required)
            if error && error.password
              p.form__error-message Некоторая ошибка произошла, беда!
            button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
      .modal__overlay
