extends layout

block content
  - const hasErrors = Boolean(errorMessages && errorMessages.length);
  main
    h1.visually-hidden Регистрация пользователя
    section
      div.popup.popup--registration.popup--anti
        a.popup__button.button.button--popup-close(href='/' aria-label='Закрыть окно')
          | Закрыть
          | окно
        h2.popup__title Войти
        div.popup__form.form.form--log-in
          form(action='/login' method='POST')
            div.form__field
              label
                input(value=loginPayload.email type='email' name='email' placeholder='Электронная почта' required)
            div.form__field
              label
                input(type='password' name='password' placeholder='Пароль' required)
            if hasErrors
              each errorMessage in errorMessages
                p.form__error-message #{errorMessage}
            button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
