extends layout

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
    if Boolean(previews.length)
      section.main-page__theme-list
        h2.visually-hidden Список тем
        +categoriesList(categories)
      include ../common/section-flex/section-flex
      include ../common/article-preview-list/article-preview-list
      +pagination(page, totalPages, 2, `?`)
    else
      div.main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!
