extends layout

block content
  main
    h1.visually-hidden Регистрация пользователя
    section.modal
      .popup.popup--registration
        a.popup__button.button.button--popup-close(href='/' aria-label='Закрыть окно') Закрыть окно
        h2.visually-hidden Форма регистрации
        ul.popup__tabs
          li.popup__tab.popup__tab--active
            a.popup__tab-switcher Регистрация
          li.popup__tab
            a.popup__tab-switcher(href='/login') Войти
        .popup__form.form.form--register
          form(action='#' method='get')
            .form__field
              label
                input(type='email' placeholder='Электронная почта' required)
            .form__field
              label
                input(type='text' placeholder='Имя' required)
            .form__field
              label
                input(type='text' placeholder='Фамилия')
            .form__field
              label
                input(type='password' placeholder='Пароль' required)
            .form__field
              label
                input(type='password' placeholder='Повтор пароля' required)
            .form__validation-error
              p.form__error-message При регистрации произошли ошибки:
              ul.form__errors
                li.form__error Пароль не может состоять из двух букв
                li.form__error Фамилия не должна быть смешной
            .form__image-loader
              a.form__avatar.avatar
                img(src='img/icons/smile.svg' alt='аватар пользователя')
              label
                input.visually-hidden(type='file')
                | Загрузить фото профиля
            button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
      .modal__overlay
