extends ../layout

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articleList
          li.notes__list-item
            time.notes__item-time(datetime=article.date.stamp)= `${article.date.day}, ${article.date.time}`
            a.notes__item-text(href=`/articles/edit/${article.id}`)= article.title
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
