extends ../layout

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articles
          li.notes__list-item
            form(action=`/my/${article.id}` method='POST')
              time.notes__item-time(datetime=article.createdDate)
                +formattedDate(article.createdDate)
              a.notes__item-text(href=`/articles/edit/${article.id}`) #{article.title}
              button.notes__button.button.button--close-item(type='submit' name='action' value='deleteArticle')
                span.visually-hidden Закрыть строку списка
